In [ ]:
!pip install xlrd==1.2.0

In [ ]:
import pandas as pd
import xlrd

In [ ]:
categorie = pd.read_excel('https://github.com/wtitze/3E/blob/main/BikeStores.xls?raw=true', "categories")
brand = pd.read_excel('https://github.com/wtitze/3E/blob/main/BikeStores.xls?raw=true',"brands")
prodotti =  pd.read_excel('https://github.com/wtitze/3E/blob/main/BikeStores.xls?raw=true',"products")

1. il catalogo complessivo dei prodotti. Visualizzare il nome del prodotto, il nome della marca e la categoria

In [ ]:
prodotti_brand = pd.merge(prodotti, brand, how = "outer", on = "brand_id")
prodotti_brand_categorie = pd.merge(prodotti_brand, categorie, how = "outer", on = "category_id")[["product_name","brand_name","category_name"]]
prodotti_brand_categorie

                                product_name    brand_name     category_name
0                            Trek 820 - 2016          Trek    Mountain Bikes
1                   Trek Fuel EX 8 29 - 2016          Trek    Mountain Bikes
2                   Trek Slash 8 27.5 - 2016          Trek    Mountain Bikes
3      Trek Remedy 29 Carbon Frameset - 2016          Trek    Mountain Bikes
4                    Trek X-Caliber 8 - 2017          Trek    Mountain Bikes
..                                       ...           ...               ...
316               Sun Bicycles Cruz 7 - 2017  Sun Bicycles  Comfort Bicycles
317     Sun Bicycles Cruz 3 - Women's - 2017  Sun Bicycles  Comfort Bicycles
318     Sun Bicycles Cruz 7 - Women's - 2017  Sun Bicycles  Comfort Bicycles
319            Sun Bicycles Drifter 7 - 2017  Sun Bicycles  Comfort Bicycles
320  Sun Bicycles Drifter 7 - Women's - 2017  Sun Bicycles  Comfort Bicycles

[321 rows x 3 columns]

2. il numero di prodotti per ogni categoria. Visualizzare i nomi delle categorie e il numero dei prodotti.

In [ ]:
prod_categorie = pd.merge(prodotti, categorie, how = "inner", on = "category_id").groupby("category_name")[["product_name"]].count().reset_index()
prod_categorie

         category_name  product_name
0    Children Bicycles            59
1     Comfort Bicycles            30
2    Cruisers Bicycles            78
3  Cyclocross Bicycles            10
4       Electric Bikes            24
5       Mountain Bikes            60
6           Road Bikes            60

3. il numero di prodotti per ogni marca (brand). Visualizzare i nomi dei brand e il numero di prodotti

In [ ]:
prodotti_brand.groupby("brand_name", as_index = False)["product_name"].count()

     brand_name  product_name
0       Electra           118
1          Haro            10
2        Heller             3
3   Pure Cycles             3
4       Ritchey             1
5       Strider             3
6  Sun Bicycles            23
7         Surly            25
8          Trek           135

4. i nomi dei prodotti della marca Trek

In [ ]:
trek = prodotti_brand[prodotti_brand["brand_name"] == "Trek"][["product_name"]]
trek

                              product_name
0                          Trek 820 - 2016
1                 Trek Fuel EX 8 29 - 2016
2                 Trek Slash 8 27.5 - 2016
3    Trek Remedy 29 Carbon Frameset - 2016
4                     Trek Conduit+ - 2016
..                                     ...
130           Trek Checkpoint ALR 5 - 2019
131   Trek Checkpoint ALR 5 Women's - 2019
132    Trek Checkpoint SL 5 Women's - 2019
133            Trek Checkpoint SL 6 - 2019
134    Trek Checkpoint ALR Frameset - 2019

[135 rows x 1 columns]

5. i prodotti delle categorie che hanno la parola 'Bikes' nel nome

In [ ]:
prod_categorie2 = pd.merge(prodotti, categorie, how = "inner", on = "category_id")
Bikes_prodotti = prod_categorie2[prod_categorie2["category_name"].str.contains("Bikes")][["product_name"]]
Bikes_prodotti

                             product_name
0                         Trek 820 - 2016
1      Ritchey Timberwolf Frameset - 2016
2         Surly Wednesday Frameset - 2016
3                Trek Fuel EX 8 29 - 2016
4            Heller Shagamaw Frame - 2016
..                                    ...
316          Trek Checkpoint ALR 5 - 2019
317  Trek Checkpoint ALR 5 Women's - 2019
318   Trek Checkpoint SL 5 Women's - 2019
319           Trek Checkpoint SL 6 - 2019
320   Trek Checkpoint ALR Frameset - 2019

[144 rows x 1 columns]

6. la categoria che ha il prodotto che costa di piÃ¹

In [ ]:
prezzo_alto = pd.merge(prodotti, categorie, how = "inner", on = "category_id").groupby("category_name",as_index=False)["list_price"].max().sort_values(by="list_price").tail(1)
prezzo_alto

  category_name  list_price
6    Road Bikes    11999.99

7. i brand con almeno 100 prodotti. Viaulizzare il nome del brand e il numero di prodotti

In [ ]:
prodotti_ordinati = pd.merge(prodotti, brand, how = "inner", on = "brand_id").groupby("brand_name", as_index = False)["product_name"].count().sort_values(by="product_name",ascending = False)
cento_prodotti = prodotti_ordinati.loc[prodotti_ordinati["product_name"] >= 100]
cento_prodotti

  brand_name  product_name
8       Trek           135
0    Electra           118

8. la marca del prodotto 'Electra Townie Original 21D - 2016'

In [ ]:
prodotti_brand[prodotti_brand.product_name == "Electra Townie Original 21D - 2016"][["brand_name"]]

    brand_name
164    Electra
173    Electra

9. il numero di prodotti per ogni anno. Visualizzare l'anno e il numero di prodotti

In [ ]:
all = pd.merge(prod_categorie2, brand, how = "inner", on = "brand_id")
anno = all.groupby('model_year')['product_name'].count()

anno

model_year
2016.0     25
2017.0     85
2018.0    195
2019.0      6
Name: product_name, dtype: int64