In [ ]:
!pip install geopandas
import geopandas
import pandas as pd

In [ ]:
province = geopandas.read_file("/content/drive/MyDrive/Colab Notebooks/Limiti01012021_g/Limiti01012021_g/ProvCM01012021_g")
regioni = geopandas.read_file("/content/drive/MyDrive/Colab Notebooks/Limiti01012021_g/Limiti01012021_g/Reg01012021_g")
comuni = geopandas.read_file("/content/drive/MyDrive/Colab Notebooks/Limiti01012021_g/Limiti01012021_g/Com01012021_g")

- Visualizzare il nome della provincia e il nome della regione

In [ ]:
prov_regioni = pd.merge(province, regioni, how = "inner", on = "COD_REG")
prov_regioni[["DEN_PROV", "DEN_REG"]]

         DEN_PROV   DEN_REG
0               -  Piemonte
1        Vercelli  Piemonte
2          Novara  Piemonte
3           Cuneo  Piemonte
4            Asti  Piemonte
..            ...       ...
102       Sassari  Sardegna
103         Nuoro  Sardegna
104             -  Sardegna
105      Oristano  Sardegna
106  Sud Sardegna  Sardegna

[107 rows x 2 columns]

- Visualizzare il nome della provincia e il nome del comune

In [ ]:
prov_comuni = pd.merge(province, comuni, how = "inner", on = "COD_PROV")
prov_comuni[["DEN_PROV", "COMUNE"]]

          DEN_PROV           COMUNE
0                -           AgliÃƒÂ¨
1                -          Airasca
2                -     Ala di Stura
3                -  Albiano d'Ivrea
4                -           Almese
...            ...              ...
7898  Sud Sardegna       Villaputzu
7899  Sud Sardegna       Villasalto
7900  Sud Sardegna      Villasimius
7901  Sud Sardegna         Villasor
7902  Sud Sardegna    Villaspeciosa

[7903 rows x 2 columns]

- Visualizzare il nome del comune e il nome della regione

In [ ]:
com_regioni = pd.merge(regioni, comuni, how = "inner", on = "COD_REG")
com_regioni[["COMUNE", "DEN_REG"]]

               COMUNE   DEN_REG
0              AgliÃƒÂ¨  Piemonte
1             Airasca  Piemonte
2        Ala di Stura  Piemonte
3     Albiano d'Ivrea  Piemonte
4              Almese  Piemonte
...               ...       ...
7898       Villaputzu  Sardegna
7899       Villasalto  Sardegna
7900      Villasimius  Sardegna
7901         Villasor  Sardegna
7902    Villaspeciosa  Sardegna

[7903 rows x 2 columns]

- Visualizzare numero di comuni per ogni provincia

In [ ]:
prov_comuni_groupby = prov_comuni.groupby("DEN_PROV")["COMUNE"].count()
prov_comuni_groupby

DEN_PROV
-                1268
Agrigento          43
Alessandria       187
Ancona             47
Aosta              74
                 ...
Vercelli           82
Verona             98
Vibo Valentia      50
Vicenza           114
Viterbo            60
Name: COMUNE, Length: 94, dtype: int64

- Visualizzare numero di comuni per ogni regione

In [ ]:
com_regioni_groupby = com_regioni.groupby("DEN_REG")["COMUNE"].count()
com_regioni_groupby

DEN_REG
Abruzzo                   305
Basilicata                131
Calabria                  404
Campania                  550
Emilia-Romagna            328
Friuli Venezia Giulia     215
Lazio                     378
Liguria                   234
Lombardia                1506
Marche                    227
Molise                    136
Piemonte                 1181
Puglia                    257
Sardegna                  377
Sicilia                   390
Toscana                   273
Trentino-Alto Adige       282
Umbria                     92
Valle d'Aosta              74
Veneto                    563
Name: COMUNE, dtype: int64

- Visualizzare numero di province per ogni regione

In [ ]:
prov_regioni_groupby = prov_regioni.groupby("DEN_REG")["DEN_PROV"].count()
prov_regioni_groupby

DEN_REG
Abruzzo                   4
Basilicata                2
Calabria                  5
Campania                  5
Emilia-Romagna            9
Friuli Venezia Giulia     4
Lazio                     5
Liguria                   4
Lombardia                12
Marche                    5
Molise                    2
Piemonte                  8
Puglia                    6
Sardegna                  5
Sicilia                   9
Toscana                  10
Trentino-Alto Adige       2
Umbria                    2
Valle d'Aosta             1
Veneto                    7
Name: DEN_PROV, dtype: int64